<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <p class="panel-block">
      Trend Alpha
    </p>
    <p class="panel-block">
      Trend Alpha
    </p>
    <p class="panel-block">
      Trend Alpha
    </p>
    <p class="panel-block">
      Trend Alpha
    </p>
    <p class="panel-block">
      Trend Alpha
    </p>
  </nav>
</div>